.overlay-light{
    opacity: .3;
}
html h3 .text-15{
    font-size: 15px!important;
}
.term-border{
    border-left: 3px solid #050589;
    line-height: 1.9;
    padding-left:18px;
    margin-top:159px;
}
html .contact-heading{
    line-height: 1.9!important;
    margin-top:210px!important;
}
html .line-height-1-9{
    line-height:1.9!important;
}
html .invest_request{
    font-size: 7px;
}
html .invest_plan{
    font-size: 9px !important;
    color:#0b1d26;
}